header, footer, nav, span, aside, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

#background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  height: 100%;
  widows: 100%;
  /*background-color: #52BECC;*/
  background: radial-gradient(farthest-corner at 100% 100%, #BFE5C2, #52BECC);
}

#wrapper {
  width: 85%;
  margin: 0 auto 0 auto;
  box-shadow: 2px 0px 15px #888888;
}

#logo {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 10px 10px 10px;
  float: left;
  width: 200px;
  height: 40px;
  background: url('../img/slice-logo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

/*#logo {
  height: 50px;
  width: 100px;
  background-color: red;
}*/

.header-icons {
  float: right;
}

#nav-links {
  margin-left: 7.5%;
}

header {
  height: 60px;
}

nav {
  height: 30px;
}

header, footer, #donut, #bar-graph, #date-input {
  background-color: white;
}

nav {
  background-color: #5F5F60;
  color: white;
}

#line-graph {
  background-color: #F5F5F5;
}

#nav-links > div {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
  width: 100px;
}

#nav-links > div:hover {
  background-color: #8F8F90;
}

header > span {
  margin-left: 10px;
}

#date-input > span {
  /*background-color: red;*/
  display: inline-block;
}

.category-merchant-button {
  cursor: pointer;
  border: 1px solid gray;
  color: gray;
  border-radius: 5px;
  padding: 10px 20px;
}

.category-merchant-button:hover {
  background-color: #24ACBF;
  border: 1px solid #24ACBF;
  color: white;
}
