body, header, footer, h1, h2, h3, h4, h5, h6, aside, nav, div, span, p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea, img {
  margin: 0;
  padding: 0;
  border: 0;
  font: normal normal normal 1em/1.25 Arial, Helvetica, sans-serif;
}

body {
  overflow: scroll;
}

/****** Multiple files ******/

#donut, #line-graph, #bar-graph, footer {
  /*padding: 15px 30px;*/
  padding: 40px 40px;
}

#background, header, nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}

/****** App.react.js ******/

#background {
  overflow: scroll;
  display: block;
  height: 100%;
  widows: 100%;
  background: radial-gradient(farthest-corner at 100% 100%, #BFE5C2, #52BECC);
}

#wrapper {
  margin: 90px auto 0 auto;
  width: 85%;
  box-shadow: 2px 0px 15px #888888;
  background-color: white;
}

/****** Header.react.js ******/

header {
  top: 0px;
  height: 60px;
  background-color: white;
  /*background-color: red;*/
}

header > span {
  margin-left: 10px;
}

#logo {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 10px 10px 10px;
  float: left;
  width: 200px;
  height: 40px;
  background: url('../img/slice-logo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.header-icons {
  float: right;
}

/****** NavBar.react.js ******/

nav {
  top: 60px;
  height: 30px;
  background-color: #5F5F60;
  color: white;
}

#nav-links {
  margin-left: 7.5%;
}

#nav-links > div {
  font-size: 11px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
  width: 100px;
}

#nav-links > div:hover {
  background-color: #8F8F90;
}

/****** DateInput.react.js ******/

#date-filter-input {
  padding: 15px 30px 0px 30px;
  font-size: 14px;
}

#date-filter-input > span {
  display: inline-block;
}

.date-input, .category-merchant-button {
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 40px;
  display: inline-block;

  margin-left: 10px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;

  color: gray;
}

.category-merchant-button {
  cursor: pointer;
  text-align: center;
  width: 130px;
  height: 40px;
}

.category-merchant-button:hover {
  background-color: #24ACBF;
  border: 1px solid #24ACBF;
  color: white;
}

.date-input {
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 40px;
}

#filter-wrapper {
  display: inline-block;
  float: right;
}

.divider {
  margin-top: 15px;
  border-bottom: 1px solid #D3D3D3;
}

.date-filter-label {
  margin-right: 20px;
}

/****** LineGraph.react.js ******/

#line-graph {
  background-color: #F5F5F5;
}

