body, header, footer, h1, h2, h3, h4, h5, h6, aside, nav, div, span, p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea, img {
  margin: 0;
  padding: 0;
  border: 0;
  font: normal normal normal 1em/1.25 Arial, Helvetica, sans-serif;
}

body {
  overflow: scroll;
}

/****** Multiple files ******/

#background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}

#donut, #line-graph, #bar-graph, #login, #loading, #new-user, footer {
  padding: 20px 40px 30px 40px;
}

.graph-header {
  margin-bottom: 30px;
}

h2, h2 span {
  font-weight: bold;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
}

/****** App.react.js ******/

#background {
  overflow: scroll;
  display: block;
  height: 100%;
  widows: 100%;
  background: radial-gradient(farthest-corner at 100% 100%, #BFE5C2, #52BECC);
}

#wrapper {
  margin: 0 auto 0 auto;
  width: 85%;
  box-shadow: 2px 0px 15px #888888;
  background-color: white;
}

/****** Header.react.js ******/

header {
  height: 60px;
  background-color: white;
}

header > span {
  margin-left: 10px;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#logo {
  box-sizing: border-box;
  display: inline-block;
  margin: 10px;
  float: left;
  width: 200px;
  height: 40px;
  background: url('../img/slice-logo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.header-icons {
  /*cursor: pointer;*/
  float: right;
  line-height: 60px;
  margin-right: 20px;
  vertical-align: middle;
}

#signout {
  margin-right: 10px;
}

/****** NavBar.react.js ******/

nav {
  height: 35px;
  background-color: #5F5F60;
  color: white;
}

#nav-links {
  margin-left: 7.5%;
}

#nav-links > div {
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  height: 35px;
  width: 125px;
  -webkit-transition: background-color .15s;
  transition: background-color .15s;
}

#nav-links > div:hover {
  background-color: #8F8F90;
}

/****** DateInput.react.js ******/

#date-filter-input {
  padding: 15px 40px 0px 40px;
  font-size: 14px;
}

#date-filter-input > span {
  display: inline-block;
}

.date-filter-label {
  margin-right: 20px;
}

.date-input {
  margin-left: 5px;
}

#date-form {
  display: inline-block;
}

input::-webkit-calendar-picker-indicator,
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

input[type="date"] {
  -webkit-align-items: center;
  display: -webkit-inline-flex;
  text-align: center;
  display: inline-block;
  overflow: hidden;

  color: gray;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  height: 40px;
  width: 130px;
  -webkit-padding-start: 5px;
}

input::-webkit-datetime-edit {
  -webkit-flex: 1;
  -webkit-user-modify: read-only !important;
  display: inline-block;
  min-width: 0;
  overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
  -webkit-user-modify: read-only !important;
  display: inline-block;
  padding: 1px 0;
  white-space: pre;
}

#ui-datepicker-div {
  background-color: white;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 2px 0px 15px #888888;
}

.ui-datepicker-header {
  background-color: #24ACBF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  color: white;
  padding: 10px 0 10px 0;
  text-decoration: none;
}

.ui-datepicker-header a {
  color: white;
}

.ui-datepicker-prev, .ui-datepicker-next {
  cursor: pointer;
}

.ui-datepicker-prev {
  float: left;
  padding-left: 10px;
}

.ui-datepicker-next {
  float: right;
  padding-right: 10px;
}

.ui-datepicker-calendar {
  background-color: white;
  border-collapse: collapse;
  color: gray;
}

.ui-datepicker-calendar a {
  color: gray;
}

.ui-datepicker-calendar th {
  width: 30px;
  height: 30px;
}

.ui-datepicker-calendar td {
  border: 1px solid #D3D3D3;
  background-color: white;
  text-align: center;
  height: 25px;
}

td.ui-datepicker-unselectable {
  background-color: #F5F5F5;
}

td.ui-datepicker-current-day {
  background-color: #24ACBF;
}

.ui-datepicker-current-day a{
  color: white;
}

.category-merchant-button {
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 40px;
  display: inline-block;

  margin-left: 5px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;

  color: gray;
}

#reset {
  cursor: pointer;
  margin-left: 10px;
  color: #D3D3D3;
  font-weight: bold;
  background: none;
  -webkit-transition: color .15s;
  transition: color .15s;
}

#reset:focus {
  border: none;
  outline: none;
}

#reset:hover {
  color: gray;
}

#filter-wrapper {
  display: inline-block;
  float: right;
}

.category-merchant-button {
  cursor: pointer;
  text-align: center;
  width: 130px;
  height: 40px;
  -webkit-transition: background-color .15s, border .15s, color .15s;
  transition: background-color .15s, border .15s, color .15s;
}

.active {
  background-color: #24ACBF;
  border: 1px solid #24ACBF;
  color: white;
}

.divider {
  margin-top: 15px;
  border-bottom: 1px solid #D3D3D3;
}

/****** Donut.react.js ******/

#donut {
  margin-bottom: 50px;
}

#donutPieceColor {
  height: .5em;
  width: 16em;
}

.donutPieceName {
  position: absolute;
  z-index: 1;
  height: 3em;
  width: 16em;
}

.closeDonutPiece {
  width: 16em;
}

#xToClose {
  float: right;
  cursor: pointer;
  text-align: center;
  width: 2em;
  display: inline-block;
  color: gray;
}

#xToClose:hover {
  border: gray;
  width: 2em;
  border-radius: 5px;
}

.donutPieceName li {
  list-style-type: none;
}
/****** LineGraph.react.js ******/

#line-graph {
  background-color: #F5F5F5;
}

.c3-tooltip-container {
  border: 1px solid #D3D3D3;
}

.c3-tooltip {
  border-collapse: collapse;
}

td.name {
  background-color: #24ACBF;
  color: white;
  padding: 10px;
}

td.value {
  background-color: #F5F5F5;
  color: gray;
  padding: 10px;
}

#chart_2 td.name, #chart_3 td.name {
  display: none;
}

#chart_2, #chart_3 {
  fill: gray;
}

path {
  /*removes black fill in line chart*/
  fill: none;
}

line {
  stroke: gray;
  stroke-width: 0.7;
}
/****** BarGraph.react.js ******/
#chart_3 .c3-xgrid-focus {
  display: none;
}

/****** Footer.react.js ******/

footer {
  background-color: #F5F5F5;
  text-align: center;
  font-size: 12px;
}

/****** loading.html ******/

#loading {
  text-align: center;
}

#loading img {
  padding: 40px 0 30px 0;
}

/****** login.html ******/

.login-button, .login-button a {
  display: inline-block;
  text-align: center;
  margin: 20px 0px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  background-color: #24ACBF;
  border: 1px solid #24ACBF;
  border-radius: 3px;
}

.login-list, .login-list li {
  margin: 0px 0px 0px 20px;
}

#login p {
  margin: 10px 0px 0px 0px;
}
